<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shops Details</title>
    <style>
        #racc {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        #ash {
           float: left;
        }

        #ash a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        #ash a:hover {
            background-color: green;
        }

    </style>
</head>
<body>
    <header>
        <nav">
            <ul id="racc">
                <li id="ash"><a href="/shop_details">shop</a></li>
                <li id="ash"><a href="/">Add products</a></li>
                <li id="ash"><a href="/contact_us">Contacts us</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Products Details</h1>
        <ul id="productList">
            <li id="listOfProduct">
                lists of products....
            </li>
        </ul>
    </div>
</body>
</html>